@model DataStructureSite.Models.Datastructure
@using DataStructureSite.Models;

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_Layout";
}
<style>
    #search{
        width: 150px;
    }
</style>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form>
    <div id="search">
        <label asp-for="Title" class="control-label">Select a Structure</label>
        <select asp-for="Title" class="form-control" asp-items="Html.GetEnumSelectList<Structure>()"></select>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solution)
            </th>
            <th></th>
        </tr>
    </thead>
    @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <pre>@Html.DisplayFor(modelItem => item.Solution)</pre>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>*@
</table>
